/*Global Styles*/
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-family: 'Nunito', sans-serif;
	font-size: 10px;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

p{
	font-size: 1.6rem;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

section{
	padding: 5rem 0; 
}

/* Header Styles */
header{
	width: 100%;
	height: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.container{
	width: 100%;
	max-width: 98rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	border-bottom: 1px solid rgba(255, 255, 255,.2);
}

.nav-brand{
	width: 2rem;
}

.menu-icons i{
	font-size: 3.5rem;
	color: #fafafa;
	cursor: pointer;
}

.close i{
	color: #eb648c;
}

.nav-list{
	width: 25rem;
	height: 100vh;
	background-color: #5176EF;  /*May need to change color */
	position: fixed;
	top: 0;
	right: -26rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1500;
	transition: all 650ms ease-in-out;
}

.nav-list.active{
	right: 0;
}

.close{
	position: absolute;
	top: 1 rem;
	left: 1.5rem;
}

.nav-item{
	margin: 1.5rem 0;
}

.nav-link{
	font-size: 1.6rem;
	text-transform: uppercase;
	color: #fafafa; 
}

/* Introduction section */





.main-message{
	width: 100%;
	max-width: 50rem;
	color: #fafafa;
	transform: translateY(20%);
}

.main-message h3{
	font-size: 1.6rem;
}

.main-message h1{
	font-family: 'Aldrich', sans-serif;
	font-size: 4rem;
	margin: 1rem;
}




/* Game Section */
.experience{
	padding: 0;
}

.title-heading{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10rem;
	color: rgba(0,0,0,.7);
}

.title-heading h3{
	font-size: 1.4rem;
}

.title-heading h1{
	font-family: 'Aldrich', sans-serif;
	font-szie: 2rem;
	margin: .5rem 0 1rem;
}

.title-heading p{
	text-transform: lowercase;
}

.game-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
}

.game-grid-item{
	height: 40rem;
	padding: 5rem;
	color: #fafafa;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	z-index: 1;
}



.DS{
	background: url("images/Demons-Souls.jpg") center no-repeat;
}

.GD{
	background: url("images/Godfall.jpg") center no-repeat;
}

.SM{
	background: url("images/Spider-Man.jpg") center no-repeat;
}


.game-grid-item h1{
	font-family: 'Aldrich', sans-serif;
	font-size: 1.7rem;
	text-transform: uppercase;
	margin: 2rem 0;
}

/* Isaiah's review */

.testimonials{
	width: 100%;
	height: 80vh;
	background: linear-gradient(135deg, rgba(6, 30, 110, 0.97) 0%, rgba(30, 75, 149,0.8) 100%), url("images/bLogo.jpg") center no-repeat fixed;
	background-size: cover;
	position: relative;
}

.testimonials::before{
	content: "";
	position: absolute;
	top: -3px;
	left: 0;
	width: 100%;
	height: 4.7em;
	background: url("images/wave-small-reversed.png") center no-repeat;
	background-size: cover;
}

.testimonial{
	width: 100%;
	color: #fafafa;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.testimonial-text-box{
	padding: 0 1.5rem;
	margin-bottom: 2rem;
	position: relative;
}

.testimonial-text-box i{
	position: absolute;
	top: -8rem;
	left: 50%;
	transform: translateX(-50%);
	font-size: 8rem;
	opacity: .5;
	z-index: -1;
}

.testimonial-customer img{
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
	border: 3px solid lightgrey;
}

/* Begin adventures */

.experience-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
	margin-bottom: 2rem;
}

.experience-grid-item p{
	color: rgba(0,0,0,0.7);
}

footer{
	padding: 2rem;
	background-color: #aaa9ad;
	text-align: center;
	color: rgba(0,0,0,0.7);
}


/* Media queries */

@media screen and (min-width: 350px){
	.main-message{
		transform: translateY(40%);
	}
}

@media screen and (min-width: 470px){
	.intro::before{
		height: 9.4rem;
		background: url("images/wave-medium.png");
		background-size: cover;
	}
	
	.testimonials::before{
		height: 9.4rem;
		background: url("images/wave-medium-reversed.png");
		background-size: cover;
	}
}

@media screen and (min-width: 700px){
	header{
		height: 8rem;
	}
	
	.nav-brand{
		width: 3.5rem;
	}
	
	.nav-list{
		width: initial;
		height: initial;
		background-color: transparent;
		position: initial;
		top: initial;
		right: initial;
		flex-direction: row;
		transition: initial;
	}
	
	.menu-icons{
		display: none;
	}
	
	.nav-item{
		margin: 0 2.5rem;
	}
	
	.nav-link, .current{ 
		color: #fafafa;
		position: relative;
		font-size: 1.3rem;
	}
	
	.nav-link::before, current::before{
		content: "";
		position: absolute;
		left: 0;
		bottom: -.5rem;
		background-color: lightgrey;
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 650ms;
	}
	
	.current::before{
		transform: scaleX(1);
	}
	
	.nav-link:hover::before{
		transform: scaleX(1);
	}
	
	.intro{
		height: 60vh;
	}
	
	.main-message{
		transform: translateY(50%);
	}
	
	.title-heading h1{
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 950px){
	.intro::before{
		height: 22.7rem;
		background: url("images/wave-large.png");
		background-size: cover;
	}
	
	.testimonials::before{
		height: 22.7rem;
		background: url("images/wave-large-reversed.png");
		background-size: cover;
	}
}

@media screen and (min-width: 1200px){
	.intro{
		height: 75vh;
	}
}


/* Review Page Styles */

.reviews{
	background: linear-gradient(90deg, rgba(6, 30, 110, 0.97) 0%, rgba(30, 75, 149,0.8) 100%), url("images/PS5console.png") center no-repeat fixed;
}


h1 {
font-family: 'Aldrich', sans-serif;
color:white;
text-align:center;
font-size: 4rem;
position:relative;
top:150px;
text-decoration:underline;
padding: 0px 50px
}

.videos h1{
top:0px;
text-decoration:none;
padding:0px;
color:black;
}


table#features{
width:80%;
margin-left:auto;
margin-right:auto;
position:relative;
top:200px;
background: linear-gradient(to right,white 0%,rgba(255,255,255,0) 32%);
}

tr{
color:white;
}

th {
font-size:2em;
text-align:center;
width: 20%
background-color: white;
}

td{
width:70%;
height:auto;
color: white;
font-size: 1.7rem;
border-bottom:1px solid white;
padding: 25px;
}


td > p {
display:flex;
margin:10px 20px;
vertical-align:middle;
}

tbody img {
height:auto;
width:auto;
margin: 15px 0px;
width:65%;
}

td > p, th {
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

#TechR {
width:50%;
}

#toms {
width:40%;
}

.quotes {
color:black;
}
.q1{
position:relative;
top:250px;
left:15%;
width:35%;
}

.q2 {
position:relative;
top:340px;
left:50%;
width:40%;
}
.q3{
position: relative;
top:450px;
left:15%;
width:70%;
}

.quotes div {
text-align:center;
}

.quotes h3 {
font-size:2.5rem;
font-family: 'Aldrich', sans-serif;
margin:10px;
background: radial-gradient(white 0% ,rgba(0,0,0,0) 80%);
}

.quotes p {
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
margin:10px;
font-size: 1.8rem;
font-weight:500;
color:white;
}

b{
letter-spacing: 0.75px;
}

footer{
position:relative;
top: 500px;
}

.videos{
background-color:white;
color:black;
position:relative;
top:500px;
min-height:600px;
}

.videos::after {
clear:both;
content: "";
display:table;

}

div.youtube{
position:relative;
top:50px;
}

@media screen and (min-width: 1260px) {
#v1{
display:flex;
float:left;
margin:30px;
}

#v2{
display:flex;
float:right;
margin:30px;
}
}

@media screen and (max-width: 1259px) {
#v1,#v2{
display:flex;
margin:0px auto 30px auto;
}
}

.buy{
	background-color: #000080;
	border-radius: 3rem;
	display: flex;
	margin: 2rem auto 2rem auto;
	padding: 1rem 2.5rem;
	text-transform: uppercase;
	transition: background-color 650ms;
	max-width:255px;
	height:auto;
	clear:both;
	font-family: 'Aldrich', sans-serif;
	text-align:center;
	position:relative;
	top:50px;
}

.buy:hover{
	background-color: #0000FF;
}

.buy a {
color:white;
font-size:4rem;
}











